*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

li{
    list-style-type: none;
}

.bold{
    font-weight: bold;
}

.space{
    padding: 4rem 0;
}

:focus{
    outline: none;
}

.blue{
    color:#112D4E;
}

.blue-bg{
    background-color: #112D4E;
}

.heading-style{
    display: inline-block;  
    position: relative;
    color: #112D4E;
}

.heading-style::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #efefef;
}

.heading-style::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #112D4E;
    transition: .3s all;
}

.heading-style:hover::after{
    width: 100%;
}

/* start navbar  */

.navbar {
    padding: 1rem 4rem;
}

.main-nav-tabs{
    margin-right: auto;
    margin-left: auto;
}

.tpa-link{
    margin: 0 1rem;
    position: relative;
    color: black;
}

.tpa-link:hover{
    color: #112D4E;
}

.tpa-link::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #efefef;
}

.tpa-link::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #112D4E;
    transition: .3s all;
}

.tpa-link:hover::after{
    width: 100%;
}

.log-btn{
    border: 1px solid #112D4E;
    color: #112D4E;
    border-radius: 5px;
}

.log-btn:hover{
    background-color: #112D4E;
    color: white;
}

.join-btn{
    color: white;
    background-color: #112D4E;
    border: 1px solid #112D4E;
    border-radius: 5px;
}

.join-btn:hover{
    color: white;
    background-color: #10345e;
}

.register a{
    font-size: 14px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:active, .navbar-toggler:focus{
    outline: none !important;
}

/* end navbar  */

/* start header  */

.header-section{
    background-image: url('../images/doctor-nurse.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: auto;
    background-blend-mode: soft-light;
    background-color: rgba(255, 255, 255, 0.158);
}

.header-row{
    height: 90vh;
}

/* end header  */

/* start work process section  */

.work-process-row{
    background-image: url('../images/process-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}

.signup-box{
    padding-left: 10rem;
}

.upload-box{
    text-align: right;  
    padding-right: 11.5rem;
    padding-top: 2rem;
}

.upload-img{
    display: grid;
    justify-self: end;
}

.process-box{
    padding-top: 2rem;
    padding-left: 10rem;
}

.done-box{
    text-align: right;  
    padding-right: 11.5rem;
    padding-top: 2rem;
}

.done-img{
    display: grid;
    justify-self: end;
}

.process-number{
    display:none;
}

/* end work process section  */

/* start section  */

.start-row .col p{
    line-height: 2;
    text-align: justify;
}

/* end section  */

/* start how we help section  */

.summary-text{
    display: none;
}

.summary{
    display: inline-block;  
    position: relative;
    color: #112D4E;
    cursor:pointer;
}

.summary::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #112D4E;
    transition: .3s all;
}

.summary-div:hover .summary::after{
    width: 100%;
}

.summary-div:hover .summary-text{
    display : block;
}

/* end how we help section  */

/* start claim section  */

.claim-section{
    background-image: url('../images/happy-family.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.claim-text{
    text-align: justify;
}

/* end claim section  */

/* start about tpa  */

.number{
    font-size: 3rem;
}

/* end about tpa  */

/* start footer  */

.footer-icons{
    color:#112D4E;
    background-color: white;
    padding: 0.3rem;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 0.5rem;
    box-shadow: 3px 3px 0 0 #495579;
}

.footer-link{
    transition: 0.3s all;
}

.footer-link:hover{
    padding-left:0.5rem;
}

/* end footer  */

/* start contact form  */

.contact-info-section{
    background-color: #efefef;
}

.tpa-input{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border:none;
    border-bottom : 1px solid #112D4E;
    color : #112D4E;
}

::placeholder{
    color: #112D4E;
}

.text-form{
    font-size: large;
}

.form-img{
    width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* end contact form  */

/* media queries  */

@media(max-width: 1200px){

    .upload-box, .process-box{
        padding-top: 1rem;
    }
}

@media(max-width: 992px){
    .main-nav-tabs{
        margin: 0;
    }

    .tpa-link{
        margin: 0;
    }
    .tpa-link::before{
        width: 0%;
    }
    
    .tpa-link:hover::after{
        width: 0%;
    }
    .col-lg-6:nth-of-type(2){
        margin-top: 2rem;
    }
    .work-process-row{
        padding-top: 2rem;  
    }
    .upload-box, .process-box, .done-box{
        padding-top: 0;
    }
}

@media(max-width: 768px){
    .header-row{
        height: 100vh;
    }

    .foot-col{
        margin: 2rem 0;
    }

    .contact-row-2 .col-md-6:nth-of-type(2){
        margin-bottom: 2rem;
    }

    .claim-section{
        background-blend-mode: soft-light;
        background-color: rgba(255, 255, 255, 0.508);
    }

    .work-process-row{
        background-image: none;
    }

    .upload-box, .done-box{
        text-align: left;  
    }

    .done-img, .upload-img{
        display: grid;
        justify-self: start;
    }

    .work-process-row{
        padding: 0;
    }

    .work-process-col{
        display: grid;
        justify-content: center;
    }
    
    .signup-box, .upload-box, .process-box, .done-box{
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .process-number{
        font-size: 3rem;
        display: block;
    }

    
}

@media(max-width: 560px){
    .navbar{
        padding: 1rem;
    }
}