*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

li{
    list-style-type: none;
}

.bold{
    font-weight: bold;
}

.space{
    padding: 4rem 0;
}

/* start navbar  */

.navbar {
    padding: 1rem 4rem;
}

.navbar-toggler{
    color: black;
}

.nav-link{
    color: black;
    position: relative;
}

.nav-link:hover{
    color: black;
}

.tpa-link::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #efefef;
}

/* end navbar  */