*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
}

li{
    list-style-type: none;
}

.bold{
    font-weight: bold;
}

.space{
    padding: 4rem 0;
}

:focus{
    outline: none;
}

.border-btn{
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;   
    text-align: center;
}

.black-btn{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;   
    text-align: center;
}

.black-btn:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.700);
}

/* start navbar  */

.navbar {
    padding: 1rem 4rem;
}

.nav-link{
    color: black;
    position: relative;
}

.nav-link:hover{
    color: black;
}

.nav-link::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #efefef;
}

/* end navbar  */