:root{
	--basic-font-color: #dee6eb;
	--basic-font-color-dark: #222222;
	--white-font-color: white;
	--primary-website-color: #106eea;
	--primary-website-color-light: #3b8af2;
}

body {
	font-family: "Open Sans", sans-serif;
	color: var(--basic-font-color-dark);
}

.body-wrapper{
	overflow-x: hidden;
}

a {
	color: var(--primary-website-color);
	text-decoration: none;
}

a:hover {
	color: var(--primary-website-color-light);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Section Heading Global Styles
--------------------------------------------------------------*/

.section-heading {
	font-weight: bold;
	font-size: 33px;
}

.section-heading b{
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 2px;
	opacity: .1;
	background-color: currentColor;
}

.section-heading span{
	padding: 0.3em 0.8em;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: var(--primary-website-color);
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 24px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: var(--primary-website-color-light);
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}


/*--------------------------------------------------------------
# Custom Nav
--------------------------------------------------------------*/

.custom-nav{
	justify-content: center;
}

.custom-nav .nav-link{
	border: none;
	background-color: transparent;
	color: #222222;
	white-space: nowrap;
	transition: 0.3s;
	position: relative;
	margin: 0.5rem 1rem;
	padding: 0px;
}

.custom-nav>li>button:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	top: -6px;
	left: 0;
	background-color: var(--primary-website-color);
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
}

.custom-nav button:hover::before,
.custom-nav li:hover>button::before,
.custom-nav .active::before{
	visibility: visible;
	width: 100%;
}

.custom-nav .active{
	color: var(--primary-website-color);
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
	background: black;
	height: 40px;
	font-size: 16px;
	transition: all 0.5s;
	color: #fff;
	padding: 0;
}

#topbar .contact-info i {
	font-style: normal;
	color: #fff;
}

#topbar .contact-info i a {
	padding-left: 5px;
	color: #fff;
}

#topbar .contact-info i a {
	line-height: 0;
	transition: 0.3s;
}

#topbar .contact-info i a:hover {
	color: #fff;
	text-decoration: underline;
}

#topbar .social-links a {
	color: rgba(255, 255, 255, 0.7);
	line-height: 0;
	transition: 0.3s;
	margin-left: 20px;
}

#topbar .social-links a:hover {
	color: white;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	background: #fff;
	transition: ease-in 0.6s all;
	opacity: 1;
	z-index: 997;
	height: 86px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
	height: 70px;
	position: fixed;
	animation: navbar-animation 0.2s;
	width: 100vw;
}

@keyframes navbar-animation {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

#header .logo {
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 0.8px;
	font-family: "Poppins", sans-serif;
}

@media (max-width:800){
	#header .logo{
		
	}
}

#header .logo a {
	/* color: #222222; */
	color: var(--primary-website-color);
}

#header .logo img {
	max-height: 40px;
}

.scrolled-offset {
	margin-top: 70px;
}


/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar>ul>li {
	white-space: nowrap;
	padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3px;
	font-size: 15px;
	font-weight: 600;
	color: #222222;
	white-space: nowrap;
	transition: 0.3s;
	position: relative;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar>ul>li>a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -6px;
	left: 0;
	background-color: var(--primary-website-color);
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
	visibility: visible;
	width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
	color: var(--primary-website-color);
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 28px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-weight: 400;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
	color: var(--primary-website-color);
}

.navbar .dropdown:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}

	.navbar .dropdown .dropdown:hover>ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #222222;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
	color: #fff;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(9, 9, 9, 0.9);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #222222;
}

.navbar-mobile>ul>li {
	padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
	visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
	color: var(--primary-website-color);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
	color: var(--primary-website-color);
}

.navbar-mobile .dropdown>.dropdown-active {
	display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 75vh;
	/* background: url("../img/hero-bg.jpg") top left; */
	background-size: cover;
	position: relative;
}

#hero:before {
	content: "";
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#hero .container {
	position: relative;
}

#hero h1 {
	margin: 0;
	font-size: 63px;
	font-weight: 700;
	line-height: 56px;
	color: #222222;
	font-family: "Poppins", sans-serif;
}

#hero h1 span {
	color: var(--primary-website-color);
}

#hero h2 {
	color: #555555;
	margin: 12px 0 30px 0;
	font-size: 25px;
	font-weight: 400;
	margin-top: 23px;
}

#hero #hero-content{
	width: 69%;
}

#hero .btn-get-started, #learn-more .btn-get-started {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 14px 33px;
	border-radius: 7px;
	transition: 0.5s;
	color: #fff;
	background: var(--primary-website-color);
}

#hero .btn-get-started:hover {
	background: #247cf0;
}

@media (max-width: 768px) {
	#hero {
		height: 70vh;
	}

	#hero h1 {
		font-size: 41px;
		line-height: 36px;
	}

	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}

	#hero .btn-get-started,
	#hero .btn-watch-video {
		font-size: 13px;
	}
}

@media (max-height: 500px) {
	/* #hero {
		height: 120vh;
	} */

	#hero #hero-content{
		width: 100%;
	}

	#hero h1 {
		font-size: 38px;
		line-height: 45px;
	}

	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

@media (min-width: 2000px){
	#hero{
		height: 45vh;
	}
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#team p{
	font-size: 1.2rem;
}

/*--------------------------------------------------------------
# Pricing Styles
--------------------------------------------------------------*/
.pricing-tab-content{
	text-align: center;
	padding: 7rem;
	color: white;
}

.pricing-tab-content h3{
	font-size: 48px;
	margin: 25px 0px;
}

.pricing-tab-content .content{
	width: 60%;
}

.pricing-tab-content .content p{
	font-size: 1.3rem;
}

@media (max-width: 800px) {
	.pricing-tab-content {
		padding: 6rem;
	}
	.pricing-tab-content .content {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.pricing-tab-content {
		padding: 5rem 1rem;
	}

	.pricing-tab-content h3 {
		font-size: 36px;
		margin: 25px 0px;
	}

	.pricing-tab-content .content p {
		font-size: 1rem;
	}

}

#owner-operator{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(180deg,rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/owner-operator.jpg');
}

#trucking-fleet{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(180deg, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('../images/trucking-fleet.jpeg');
}


/*--------------------------------------------------------------
# CTA: Technology Stack
--------------------------------------------------------------*/

@media (max-width:576px) {
	#technology .col-sm-6 {
			flex: 0 0 auto;
			width: 50%;
		}
}

#technology .img-containers{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#technology .img-containers img{
	width: 100%;
	height: 34px;
}

#technology .img-containers .large-img{
	height: 110px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}


/*--------------------------------------------------------------
# CTA: Learn More
--------------------------------------------------------------*/
#learn-more{
	min-height: 450px;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/cta-background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#learn-more .cta-heading{
	font-weight: bold;
	font-size: 50px;
}

#learn-more p{
	font-size: 20px;
}

#learn-more .cta-wrapper{
	padding: 2.7em;
	max-width: 60%;
	background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px){
	#learn-more {
		min-height: 500px;
	}
	#learn-more .cta-wrapper {
		padding: 2.7em;
		max-width: 90%;
	}
}

@media (max-width: 500px){
	#learn-more {
		min-height: 450px;
	}
	#learn-more .cta-heading {
		font-size: 40px;
	}

	#learn-more p {
		font-size: 15px;
	}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	padding: 0 0 30px 0;
	color: var(--basic-font-color);
	font-size: 14px;
	background: black;
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: black;
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
	color: var(--primary-website-color);
}

#footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Roboto", sans-serif;
	color: #b2acac;
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: var(--basic-font-color);
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: var(--primary-website-color);
	font-size: 18px;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #777777;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: var(--primary-website-color);
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: var(--primary-website-color);
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 4px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: var(--primary-website-color-light);
	color: #fff;
	text-decoration: none;
}


@media (max-width: 768px) {

	#footer .copyright,
	#footer .credits {
		float: none;
		text-align: center;
		padding: 2px 0;
	}
}


/*--------------------------------------------------------------
# Contact Modal
--------------------------------------------------------------*/